{% if fn('is_front_page') %}
  <div id="feature" class="feature front-banner">
    {#{ post.get_field('feature_slide_type') }#}
    {% set banner_type = post.get_field('feature_slide_type') %}

    {% if banner_type == 'image_banner' %}
    <div class="feature-media feature-media-image parallax-window" data-parallax="scroll" data-image-src="{{ post.get_field('feature_image_banner').url }}" title="{{ post.get_field('feature_image_banner').title|replace({'-': ' ', '_': ' '}) }}"></div>
    {% elseif banner_type == 'video_url_banner' %}
    {{ post.get_field('feature_url_banner')|print_r }}
    {% else %}
    <div class="feature-media feature-media-videofile">
      <video poster="{{ post.get_field('feature_file_banner').icon }}" id="bgvid" playsinline autoplay muted loop>
      <source src="{{ post.get_field('feature_file_banner').url }}" type="{{ post.get_field('feature_file_banner').mime_type }}">
      </video>
    </div>
    {% endif %}

    <div class="feature-content-wrapper">
      <div class="container">
        <div class="feature-content-inner">
          {% if post.get_field('banner_name') %}
          <h2 class="feature-title">{{ post.get_field('banner_name') }}</h2>
          {% endif %}
          {% if post.get_field('banner_description') %}
          <div class="feature-description">{{ post.get_field('banner_description') }}</div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="bg-overlay"></div>
  </div>
{% else %}
    <div id="feature" class="feature">
      {% if fn('is_page') %}
        {% set feature_banner = post.get_field('feature_banner').url %}
      {% else %}
        {% set feature_banner = post.thumbnail.src %}
      {% endif %}
      <div class="feature-media parallax-window" data-parallax="scroll" data-image-src="{{ feature_banner }}"></div>

      <div class="feature-content-wrapper">
        <div class="container">
          <div class="feature-content-inner">

          {% if fn('is_page') %}
            {% if title_option != "on" %}
              <h1 id="page-title">{{ post.title }}</h1>
            {% endif %}
            {% include 'breadcrumb.twig' %}
          {% else %}
            <h1 id="page-title">{{ post.title }}</h1>
            <div class="post-info">
              <div class="post-author">
                {% set user_data = fn('get_userdata', post.post_author).data %}
                {% if fn('get_field', 'user_avatar', 'user_' ~ user_data.ID).alt is not empty %}
                {% set user_alt = fn('get_field', 'user_avatar', 'user_' ~ user_data.ID).alt %}
                {% else %}
                {% set user_alt = fn('get_field', 'user_avatar', 'user_' ~ user_data.ID).title %}
                {% endif %}
                {% if fn('get_field', 'user_avatar', 'user_' ~ user_data.ID) %}
                <div class="post-author-avatar"><img src="{{ fn('get_field', 'user_avatar', 'user_' ~ user_data.ID).sizes.thumbnail }}" alt="{{ user_alt }}"></div>
                {% else %}
                <div class="post-author-avatar" style="background-color: #fff;"><img src="{{ fn('get_template_directory_uri') ~ '/dist/images/user-default.png' }}" alt="{{ user_alt }}"></div>
                {% endif %}
                <div class="post-author-name"><a href="{{ fn('get_author_posts_url', user_data.ID) }}">{{ user_data.display_name }}</a></div>
              </div>
              <span class="post-info-dash"></span>
              <div class="post-date">
                {{ fn('get_the_date', 'F j, Y', post.ID) }}
              </div>
              <span class="post-info-dash"></span>
              {% if fn('get_the_category', post.ID) %}
              <div class="post-categories">
                {% for cat in fn('get_the_category', post.ID) %}
                  {% spaceless %}
                    <a href="{{ fn('get_category_link', cat.term_id) }}">{{ cat.name }}</a>
                    {% if loop.last is empty %}<span>, </span>{% endif %}
                  {% endspaceless %}
                {% endfor %}
              </div>
              {% endif %}
            </div>
          {% endif %}
          
          </div>
        </div>
      </div>
      <div class="bg-overlay"></div>
    </div>
{% endif %}