{% if fn('is_front_page') %}
  <div id="feature" class="feature front-banner" style="height: 550px;">
    {#{ post.get_field('feature_slide_type') }#}
    {% set banner_type = post.get_field('feature_slide_type') %}

    {% if banner_type == 'image_banner' %}
    <div class="feature-media feature-media-image parallax-window" data-parallax="scroll" data-image-src="{{ post.get_field('feature_image_banner').url }}" title="{{ post.get_field('feature_image_banner').title|replace({'-': ' ', '_': ' '}) }}"></div>
    {% elseif banner_type == 'video_url_banner' %}
    {{ post.get_field('feature_url_banner')|print_r }}
    {% else %}
    <div class="feature-media feature-media-videofile">
      <video poster="{{ post.get_field('feature_file_banner').icon }}" id="bgvid" playsinline autoplay muted loop>
      <source src="{{ post.get_field('feature_file_banner').url }}" type="{{ post.get_field('feature_file_banner').mime_type }}">
      </video>
    </div>
    {% endif %}

    <div class="feature-content-wrapper">
      <div class="container">
        <div class="feature-content-inner">
          {% if post.get_field('banner_name') %}
          <h2 class="feature-title">{{ post.get_field('banner_name') }}</h2>
          {% endif %}
          {% if post.get_field('banner_description') %}
          <div class="feature-description">{{ post.get_field('banner_description') }}</div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="bg-overlay"></div>
  </div>
{% else %}
    <div id="feature" class="feature">
      <div class="feature-media parallax-window" data-parallax="scroll" data-image-src="{{ post.get_field('feature_banner').url }}" title="{{ post.get_field('feature_banner').title|replace({'-': ' ', '_': ' '}) }}"></div>
      <div class="container">

      {% if fn('is_page') %}
        {% if title_option != "on" %}
          <h1 id="page-title">{{ post.title }}</h1>
        {% endif %}
      {% else %}
        <h1 id="page-title">{{ post.title }}</h1>
      {% endif %}
      
      {% include 'breadcrumb.twig' %}
      </div>
    </div>
{% endif %}