{% block footer %}
  <footer id="footer" class="footer">
    {% for key, footer in fn('array_unset', footer_widget, '_multiwidget') %}
      {% set footer_banner = fn('get_field', 'footer_banner', 'widget_footer_widget-' ~ key ) %}
      {% set footer_subscribe_form = fn('get_field', 'footer_subscribe_form', 'widget_footer_widget-' ~ key ) %}
      {% set footer_copyright = fn('get_field', 'footer_copyright', 'widget_footer_widget-' ~ key ) %}

      <div class="footer-wrapper">

        <div class="footer-media parallax-window" data-parallax="scroll" data-image-src="{{ footer_banner.url }}" title="{{ footer_banner.title|replace({'-': ' ', '_': ' '}) }}"></div>

        <div class="footer-pannel">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="block-footer block-mailchimp-subscribe">
                  <div class="block--inner">
                    {{ fn('shortcode', '[mc4wp_form id="' ~ footer_subscribe_form ~ '"]') }}
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  {{ function('acfwidget', 'footer_components', 'footer_widget-' ~ key ) }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="container">
            <div class="block-coppyright">
            {{ footer_copyright }}
            </div>
          </div>
        </div>
        <div class="bg-overlay"></div>
      </div>
    {% endfor %}

    <div class="back-to-top js-back-top">{{ pll_e('Back to Top') }}</div>
    <div class="footer-navigation hidden-on-desktop">
      <div class="footer-navigation-inner">
        <div class="footer-navigation-item footer-home-page"><a href="{{ site.url }}"><i class="fas fa-home"></i></a></div>
        <div class="footer-navigation-item footer-menu-mobile"><a href="#" class="js-menu-show" data-target=".block-navigation"><i class="fas fa-bars"></i></a></div>
        <div class="footer-navigation-item footer-social-mobile"><a href="#" class="js-menu-show" data-target=".block-social"><i class="fas fa-share-alt"></i></a></div>
        <div class="footer-navigation-item footer-search-mobile"><a href="#" class="js-menu-show" data-target=".block-search"><i class="fas fa-search"></i></a></div>
      </div>
    </div>
  </footer>
{% endblock %}
