<article class="post-item col-md-4 {{ fn('get_post_class', classes, post.ID)|join(' ') }}">
  <div class="post-item-inner">
    <div class="post-media" style="background-image: url({{ fn('get_the_post_thumbnail_url', post.ID) }});"><img src="{{ fn('get_the_post_thumbnail_url', post.ID) }}"></div>
    <div class="post-body">
      <h3 class="post-title"><a href="{{ fn('get_permalink', post.ID) }}">{{ fn('get_the_title', post.ID) }}</a></h3>
      <div class="post-summary">{{ fn('get_the_date') }}</div>
    </div>
    <a href="{{ fn('get_permalink', post.ID) }}" class="post-link"></a>
  </div>
</article>