{% extends 'layout.twig' %}

{% block content %}
  {% if page_container == "on" %}
  <div class="container">
    {% for post in posts %}
      {% if post.content %}
      <div class="block-content__body">{{ post.content|shortcodes }}</div>
      {% endif %}

      {{ function('flexible_content', 'group_component') }}
    {% endfor %}
  </div>
  {% else %}
    {% for post in posts %}
      {% if post.content %}
      <div class="block-content__body">{{ post.content|shortcodes }}</div>
      {% endif %}

      {{ function('flexible_content', 'group_component') }}
    {% endfor %}
  {% endif %}

  {% if bottom_panel %}
  <div class="bottom-panel">
    {{ bottom_panel }}
  </div>
  {% endif %}
  
  {#% if function('comments_open') %}
  {% include 'comments.twig' %}
  {{ function('comment_form') }}
  {% endif %#}

{% endblock %}
