{% if classes %}
  {% set classes = classes %}
{% else %}
  {% set classes = null %}
{% endif %}

<div class="post-item {{ fn('get_post_class', classes, post.ID)|join(' ') }}">
  <div class="post-item-inner">
    <div class="post-media" style="background-image: url({{ post.thumbnail.src }});"><img src="{{ post.thumbnail.src }}"></div>
    <div class="post-body">
      <h3 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
      <div class="post-summary">{{ post.date }}</div>
    </div>
    <a href="{{ post.link }}" class="post-link"></a>
  </div>
</div>